<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DecalViewCodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DecalViewCodeGenerator.Properties.Settings>
            <setting name="viewXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="embeddedXmlPath" serializeAs="String">
                <value>Namespace.MainView.xml</value>
            </setting>
            <setting name="className" serializeAs="String">
                <value>MyPlugin.PluginCore</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="windowBounds" serializeAs="String">
                <value>-1, -1, -1, -1</value>
            </setting>
            <setting name="exportConfigs" serializeAs="Xml">
                <value>
                    <exportConfigs />
                </value>
            </setting>
            <setting name="compactCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hideDefaultNames" serializeAs="String">
                <value>False</value>
            </setting>
        </DecalViewCodeGenerator.Properties.Settings>
    </userSettings>
</configuration>