<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="acview.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <acview.Settings>
      <setting name="datPath" serializeAs="String">
        <value />
      </setting>
      <setting name="exportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="exportNameFormat" serializeAs="String">
        <value>$H</value>
      </setting>
      <setting name="exportFormat" serializeAs="String">
        <value />
      </setting>
      <setting name="prefetchIcons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="viewLargeIcons" serializeAs="String">
        <value>True</value>
      </setting>
    </acview.Settings>
  </userSettings>
</configuration>